---
layout: default
---

{%- comment -%}
{%- for post in site.posts -%}
  {%- if post.category == "Tools" -%}
    {%- increment tools -%}
  {%- endif -%}
  {%- if post.category == "Reviews" -%}
    {%- increment reviews -%}
  {%- endif -%}
  {%- if post.category == "Pocs" -%}
    {%- increment pocs -%}
  {%- endif -%}
  {%- if post.category == "Resources" -%}
    {%- increment resources -%}
  {%- endif -%}
  {%- if post.category == "Tutorials" -%}
    {%- increment tutorials -%}
  {%- endif -%}
{%- endfor -%}
{%- endcomment -%}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="post-list">
    <li>
      <h3>
        <a class="post-link" href="/tools">Tools <!-- ({{ tools }}) --></a>
      </h3>
      <p>Collection of personal developed tools</p>

      <h3>
        <a class="post-link" href="/pocs">Proof of Concepts <!-- ({{ pocs }}) --></a>
      </h3>
      <p>Proof of Concepts of some CVE's and vulnerabilities</p>

      <h3>
        <a class="post-link" href="/resources">Resources <!-- ({{ resources }}) --></a>
      </h3>
      <p>Lists of resources related to infosec</p>

      <h3>
        <a class="post-link" href="/reviews">Reviews <!-- ({{ reviews }}) --></a>
      </h3>
      <p>Reviews of cybersecurity related content</p>

      <h3>  
        <a class="post-link" href="/tutorials">Tutorials <!-- ({{ tutorials }}) --></a>
      </h3>
      <p>Tutorials and how-to of tools, utilities, etc.</p>  
    </li>
  </ul>
</div>
